body {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #f4f4f4;
}

@font-face {
  font-family: "BentonSansBBVA";
  font-weight: bold;
  src: url("fonts/BentonSansBBVA-Bold.otf") format("opentype");
  font-weight: book;
  src: url("fonts/BentonSansBBVA-Book.otf") format("opentype");
  font-weight: bookitalic;
  src: url("fonts/BentonSansBBVA-BookItalic.otf") format("opentype");
  font-weight: light;
  src: url("fonts/BentonSansBBVA-Light.otf") format("opentype");
  font-weight: medium;
  src: url("fonts/BentonSansBBVA-Medium.otf") format("opentype");
  font-weight: mediumitalic;
  src: url("fonts/BentonSansBBVA-MediumItalic.otf") format("opentype");
}
.content {
  width: 90%;
  margin: auto;
}

.card {
  border: 0px !important;
  border-radius: 0 !important;
}

.card-header {
  position: relative;
  padding:32px 32px 32px;
  background-color: #fff;
  border-bottom: 0 !important;
}  

.button-header { 
  border-bottom: 1px solid #d3d3d3;
} 

.button-header button {
  margin-bottom: 24px;
}

.card-inner {
  background-color: #fff;
}

.card-body {
  width: 95%;
  margin: auto;
}

.btn-link {
  font-family: "BentonSansBBVA", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #121212;
  text-decoration: none;
  font-size: 15px;
  line-height: 24px;
}
.btn-link:hover {
  color: #121212;
  text-decoration: none;
}

.form-inner input {
  width: 100%;
  height: 56px;
  border: 0px;
  border-radius: 1px;
  border-bottom: 1px solid;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 48px;
  color: #121212;
  background-color: #f4f4f4;
  border-bottom-color: #666666;
  font-family: "BentonSansBBVA Book", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.form-inner {
  margin-bottom: 32px;
}

.form-control:focus {
  box-shadow: 0 0 5px 1px #1464A5;
  -moz-box-shadow: 0 0 5px 1px #1464A5;
  -webkit-box-shadow: 0 0 5px 1px #1464A5;
  -o-box-shadow: 0 0 5px 1px #1464A5;
  outline: 0px;
  border-bottom-color: #121212;
  background-color: #f4f4f4;
}
/* Animación de input */

.has-float-label .form-control:placeholder-shown:not(:focus)+* {
  top: .8em !important;
}

/* Radios */

legend {
  font-size: 15px !important;
  font-weight: 500;
}

.custom-control-label::before {
  position: absolute;
  top: .25rem;
  left: -1.5rem;
  display: block;
  pointer-events: none;
  content: "";
  background-color: #f4f4f4;
  border: #121212 solid 1px;
  height: 24px;
  width: 24px;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #f4f4f4;
  border-color: #121212;
  background-color: #f4f4f4;
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {
  background-image: none;
  background:#1464A5;
  border-radius: 50%;
  margin: 4px;
}

.custom-select {
  background-color: #f4f4f4;
  height: 56px;
  color: #121212;
  font-weight: 300;
  border-bottom-color: #666666;
  border-radius: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-top: 1.5em;
  font-family: "BentonSansBBVA Book", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.custom-select:focus {
  outline: 0;
  box-shadow: 0 0 5px 1px #1464A5;
}

.custom-control-input:focus~.custom-control-label::before {
  box-shadow: 0 0 5px 1px #1464A5 !important;
}

.custom-control-label {
  font-family: "BentonSansBBVA Book", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

/* Tablas */

.table thead th {
  vertical-align: bottom;
  border-bottom:  1px solid #666666;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-bottom: 1px solid #666666;
  border-top: 0px !important;
}

.form-inner-table input {
  width: 100%;
  height: 56px;
  border: 0px;
  border-radius: 1px;
  border-bottom: 1px solid;
  color: #121212;
  background-color: #f4f4f4;
  border-bottom-color: #666666;
  font-family: "BentonSansBBVA Book", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.form-inner-checkbox{
  color: #121212;
  font-family: "BentonSansBBVA Book", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

/* Checkbox */ 
.checkbox__label {
  position: relative;
  display: grid;
  align-items: center;
  font-size: 16px;
  color: #121212;
  margin-bottom: 24px;
  cursor: pointer;
  flex-wrap: wrap;
  font-family: "BentonSansBBVA Book", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 300;

}

.checkbox__label p {
  margin: -1.5em 0 0 2em;
}

/* pinta el cuadro nuevo*/
.checkbox{
  margin-right: 8px;
  padding: 3px;
  font-size: 1em;
  width: 24px;
  height: 24px;
  margin-right: 0.625em;
  border-radius: 1px;
  border: #121212 solid 1px;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 3px;
  background-color: #f4f4f4;
  
}
/*cuando esta desactivado*/
.checkbox:disabled {
  cursor: not-allowed;
  opacity: 0;
}

/*estilo de la imagen*/
.checkbox__svg {
  position: absolute;
  top: 0px;
  margin: 4px;
  width: 16px;
  height: 16px;
  pointer-events: none;
  fill: rgba(255, 255, 255, 0);
  -webkit-animation: scaleIn 0.3s forwards cubic-bezier(0.25, 0.1, 0.25, 1);
  animation: scaleIn 0.3s forwards cubic-bezier(0.25, 0.1, 0.25, 1);

}

.checkbox__svg-check {
  fill: rgb(255, 255, 255);
  transform: scale(0.5);
  transform-origin: 50% 50%;
  transition: transform 0.3s cubic-bezier(.17, .67, .36, 1.61);
}

.checkbox__svg-border {
  stroke: #999;
}

.checkbox:checked+.checkbox__svg {
  fill: #004481;

}

.checkbox:checked+.checkbox__svg>.checkbox__svg-border {
  stroke: #004481;
  
}

.checkbox:checked+.checkbox__svg>.checkbox__svg-check {
  transform: scale(1);
}

.checkbox:disabled+.checkbox__svg>.checkbox__svg-border {
  opacity: 0;
}


