
  htmlCode = "";

    // htmlCode += "<p align=\"justify\">";
    // htmlCode += "Solicitud para cr&eacute;ditos Hipotecarios";

    htmlCode += "<form class=\"form-horizontal\" onsubmit=\"direccionaTabCarta('');\" id='fmm' action='' accept-charset='UTF-8'>";
    // htmlCode += "<button type=\"submit\" class=\"btn btn-primary\">Submit</button>";

    htmlCode += "<div id='divContenedor0' class='divSeccion white' > Datos del Solicitante </div>";
    htmlCode += "<div id='divDatos0' style='display: block; float:left; width: 100%; border: 0.1rem solid #eaeaea;'>";

    htmlCode += "<table class=\"table table-condensed\">";
    htmlCode += " <tbody>";

    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' scope=\"row\">Datos del solicitante:</td>";
    htmlCode += " <td class='bggris-l6'><select id=\"datosSolicitanteInicio\" required>";
    htmlCode += " <option value=\"\">SELECCIONE...</option>";
    htmlCode += " <option value=\"nominaHabiente\">N&Oacute;MINA-HABIENTE</option>";
    htmlCode += " <option value=\"acreditado\">ACREDITADO</option>";
    htmlCode += " <option value=\"coacreditado\">COACREDITADO</option>";
    htmlCode += " <option value=\"obligadoSolidario\">OBLIGADO SOLIDARIO</option>";
    htmlCode += " <option value=\"garanteHipotecario\">GARANTE HIPOTECARIO</option>";
    htmlCode += " </select>";
    htmlCode += " </td>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' colspan='2' scope=\"row\">Nombre(s) y apellidos</td>";
    htmlCode += " <th class='bggris-l6' colspan='2' scope=\"row\"><input type=\"text\" id=\"nombre\" value='"+escenarioActualData.nombreEmpleado+"'+ disabled></th>";
    htmlCode += " <th class='bggris-l6' colspan='2' scope=\"row\"><input type=\"text\" id=\"apellidoPaterno\" value='"+escenarioActualData.apellidoPaterno+"' disabled></th>";
    htmlCode += " <td class='bggris-l6'><input type=\"text\" id=\"apellidoMaterno\" value='"+escenarioActualData.apellidoMaterno+"' disabled></td>";
    htmlCode += " <td class='bggris-l4' scope=\"row\">Sexo</td>";
    htmlCode += " <td class='bggris-l6'><select id=\"sexo\" required>";
    htmlCode += " <option value=\"\">SELECCIONE...</option>";
    htmlCode += " <option value=\"F\">FEMENINO</option>";
    htmlCode += " <option value=\"M\">MASCULINO</option>";
    htmlCode += " </select>";
    htmlCode += " </td>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' scope=\"row\">RFC/Homoclave</td>";
    htmlCode += " <td class='bggris-l6'><input type=\"text\" id=\"rfc\" value='"+escenarioActualData.rfc+"' disabled></td>";
    htmlCode += " <td class='bggris-l4' colspan='3'scope=\"row\">Lugar de nacimiento y nacionalidad</td>";
    htmlCode += " <td class='bggris-l6'colspan='2'><input class='form-control mayusculas' type=\"text\" id=\"lugarNacimiento\" required data-validation-required-message='Favor de capturar lugar de nacimiento'></td>";
    htmlCode += " <td class='bggris-l4' scope=\"row\">Fecha de nacimiento</td>";
    // htmlCode += " <td class='bggris-l6'><input type=\"text\" id=\"fechaNacimientoCliente\" value='"+escenarioActualData.fechaNacimiento+"' disabled></td>";
    htmlCode += " <td class='bggris-l6'><input type=\"text\" id=\"fechaNacimiento\" value='"+escenarioActualData.fechaNacimiento+"' disabled></td>";
    htmlCode += " </tr>";

    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' scope=\"row\">Edad</td>";
    htmlCode += " <td class='bggris-l6'><input type=\"text\" id=\"edad\" value='"+escenarioActualData.edad+"'disabled></td>";
    htmlCode += " <td class='bggris-l4'>CURP</td>";
    htmlCode += " <td class='bggris-l6'colspan='2'><input type=\"text\" id=\"curp\" value='"+escenarioActualData.curp+"' disabled></td>";
    htmlCode += " <td class='bggris-l4' scope=\"row\">Identificaci&oacute;n y n&uacute;mero</td>";
    htmlCode += " <td class='bggris-l6'><input  class='mayusculas' type=\"text\" id=\"identificacionNum\" required></td>";
    htmlCode += " <td class='bggris-l4' scope=\"row\">Escolaridad</td>";
    htmlCode += " <td class='bggris-l6'><input class='mayusculas' type=\"text\" id=\"escolaridad\" required></td>";
    htmlCode += " </tr>";


    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' colspan='2' scope=\"row\">N&uacute;mero de IMSS o ISSSTE</td>";
    htmlCode += " <td class='bggris-l6' colspan='2'><input type=\"text\" id=\"imss\" value='"+escenarioActualData.imss+"' disabled></td>";
    htmlCode += " <td class='bggris-l4' colspan='3' scope=\"row\">Domicilio(calle, num ext e int)</td>";
    htmlCode += " <td class='bggris-l6' colspan='2'><input class='mayusculas' type=\"text\" id=\"domicilio\" required></td>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' scope=\"row\">C&oacute;digo postal</td>";
    htmlCode += " <td class='bggris-l6'><input class='form-control' type=\"text\" id=\"codigoPostal\" required maxlength='5' minlength='5' pattern=\"[0-9]+\"></td>";
    htmlCode += " <td class='bggris-l4' colspan='2' scope=\"row\">Colonia o fraccionamiento</td>";
    htmlCode += " <td class='bggris-l6' colspan='2'><input class='mayusculas' type=\"text\" id=\"colonia\" required maxlength='50'></td>";
    htmlCode += " <td class='bggris-l4' scope=\"row\">Delegaci&oacute;n o municipio</td>";
    htmlCode += " <td class='bggris-l6' colspan='2'><input class='mayusculas' type=\"text\" id=\"delegacion\" required maxlength='50'></td>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' colspan='2'>Ciudad o poblaci&oacute;n</td>";
    htmlCode += " <td class='bggris-l6'><input class='mayusculas' type=\"text\" id=\"ciudad\" required maxlength='50'></td>";
    htmlCode += " <td class='bggris-l4' scope=\"row\">Estado</td>";
    htmlCode += " <td class='bggris-l6' colspan='2'><input  class='mayusculas'type=\"text\" id=\"estado\" required maxlength='50'></td>";
    htmlCode += " <td class='bggris-l4' scope=\"row\">T&eacute;lefono(s) domicilio</td>";
    htmlCode += " <th class='bggris-l6' scope=\"row\"><input type=\"text\" id=\"telDom1\" maxlength='10' pattern=\"[0-9]+\"></th>";
    htmlCode += " <th class='bggris-l6' scope=\"row\"><input type=\"text\" id=\"telDom2\" maxlength='10' pattern=\"[0-9]+\"></th>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' scope=\"row\">T&eacutelefono celular</td>";
    htmlCode += " <td class='bggris-l6' colspan='2'><input type=\"text\" id=\"celular\" maxlength='15' pattern=\"[0-9]+\"></td>";
    htmlCode += " <td class='bggris-l4' scope=\"row\">Correo electr&oacute;nico</td>";
    htmlCode += " <td class='bggris-l6' colspan='2'><input type=\"text\" id=\"mail\" email required pattern=\"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$\"></td>";
    htmlCode += " <td class='bggris-l4' scope=\"row\">Tipo vivienda</td>";
    htmlCode += " <th class='bggris-l6' colspan='2'><select class=\"selectpicker\" id='tipoVivienda' required>" +
        "<option value = ''>SELECCIONE...</option>" +
        "<option value = 'PROPIA SIN HIPOTECA'>PROPIA SIN HIPOTECA</option>" +
        "<option value='PROPIA CON HIPOTECA'>PROPIA CON HIPOTECA</option>" +
        "<option value='RENTADA'>RENTADA</option>" +
        "<option value='DE FAMILIARES/PADRES'>DE FAMILIARES/PADRES</option>" +
        "<option value='OTROS'>OTROS</option></select></th>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td colspan='2' class='bggris-l4'>Antiguedad domicilio actual</td>";
    htmlCode += " <th class=\"bggris-l6\"><input type=\"text\" id=\"antAnio\" placeholder=\"a&ntilde;os\" required maxlength='2' pattern='[0-9]+'></th>";
    // htmlCode += " <th class=\"bggris-l6 w5\">A</th>";
    htmlCode += " <th class=\"bggris-l6\"><input type=\"text\" id=\"antMes\" placeholder=\"meses\" required maxlength='2' pattern='((|0)[1-9])|(10)|(11)|(12)'></th>";
    // htmlCode += " <th class='bggris-l6'>M</th>";
    htmlCode += " <td colspan='2' class='bggris-l4' scope=\"row\">Estado civil</td>";
    htmlCode += " <td class='bggris-l6'><select onchange='validaEstadoCivil(this)' class=\"form-control font0_25\" id=\"estadoCivil\" required>" +
        "<option value=''>SELECCIONE...</option>" +
        "<option value='CBM'>CASADO B. MANCOMUNADOS</option>" +
        "<option value='CBS'>CASADO B.SEPARADOS</option> " +
        "<option value='DIV'>DIVORCIADO</option> " +
        "<option value='SEP'>SEPARADO</option> " +
        "<option value='SOL'>SOLTERO</option> " +
        "<option value='UL'>UNION LIBRE</option> " +
        "<option value='VIUDO'>VIUDO</option>" +
        "</option></select></td>";
    htmlCode += " <td colspan='2' class='bggris-l4' scope=\"row\"></td>";
    htmlCode += " </tr>";

    htmlCode += " </tbody>";
    htmlCode += "</table>";

    htmlCode += "<table class=\"table table-condensed\">";
    htmlCode += " <tbody>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4 w30'>Dependientes econ&oacute;nomicos/parentensco</td>";
    htmlCode += " <td class='bggris-l4 w5'>Edad</td>";
    htmlCode += " <td class='bggris-l4 w15'>Ocupaci&oacute;n</td>";
    htmlCode += " <td class='bggris-l4 w30'>Dependientes econ&oacute;nomicos/parentensco</td>";
    htmlCode += " <td class='bggris-l4 w5'>Edad</td>";
    htmlCode += " <td class='bggris-l4 w15'>Ocupaci&oacute;n</td>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td class='w30 bggris-l6'><input class='mayusculas' type=\"text\" id=\"depEconomico1\"></td>";
    htmlCode += " <td class='w5 bggris-l6' bggris-l6><input type=\"text\" id=\"edad1\" maxlength='2' pattern=\"[0-9]+\"></td>";
    htmlCode += " <td class='w15 bggris-l6'><input type=\"text\" id=\"ocupacion1\" class='mayusculas'></td>";
    htmlCode += " <td class='w30 bggris-l6'><input type=\"text\" id=\"depEconomico2\" class='mayusculas'></td>";
    htmlCode += " <td class='w5 bggris-l6'><input type=\"text\" id=\"edad2\" maxlength='2' pattern=\"[0-9]+\"></td>";
    htmlCode += " <td class='w15 bggris-l6'><input type=\"text\" id=\"ocupacion2\" class='mayusculas'></td>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td class='w30 bggris-l6'><input type=\"text\" id=\"depEconomico3\" class='mayusculas'></td>";
    htmlCode += " <td class='w5 bggris-l6'><input type=\"text\" id=\"edad3\" maxlength='2' pattern=\"[0-9]+\"></td>";
    htmlCode += " <td class='w15 bggris-l6'><input type=\"text\" id=\"ocupacion3\" class='mayusculas'></td>";
    htmlCode += " <td class='w30 bggris-l6'><input type=\"text\" id=\"depEconomico4\" class='mayusculas'></td>";
    htmlCode += " <td class='w5 bggris-l6'><input type=\"text\" id=\"edad4\" maxlength='2' pattern=\"[0-9]+\"></td>";
    htmlCode += " <td class='w15 bggris-l6 '><input type=\"text\" id=\"ocupacion4\" class='mayusculas'></td>";
    htmlCode += " </tr>";

    htmlCode += " </tbody>";
    htmlCode += "</table>";


    htmlCode += "</div>"; //Div de la "Pestaña"

    htmlCode += "<div id='divContenedor1' class='divSeccion white'> Datos de Conyuge Seg&uacute;n aplique </div>";
    htmlCode += "<div id='divDatos1' style='display: block; float:left; width: 100%; border: 0.1rem solid #eaeaea;'>";

    htmlCode += "<table class=\"table table-condensed\">";
    htmlCode += " <tbody>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' colspan='4' scope=\"row\">Nombre(s) y apellidos</td>";
    htmlCode += " <th class='bggris-l6' colspan='3' scope=\"row\"><input type=\"text\" id=\"nombreCy\" class='mayusculas' placeholder=\"NOMBRE(S)\"></th>";
    htmlCode += " <th class='bggris-l6' colspan='3' scope=\"row\"><input type=\"text\" id=\"apellidoPaternoCy\" class='mayusculas' placeholder=\"APELLIDO PATERNO\"></th>";
    htmlCode += " <td class='bggris-l6' colspan='3'><input type=\"text\" id=\"apellidoMaternoCy\" class='mayusculas' placeholder=\"APELLIDO MATERNO\"></td>";
    htmlCode += " </tr>";


    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' colspan='2' scope=\"row\">CURP</td>";
    htmlCode += " <th class='bggris-l6' colspan='2' scope=\"row\"><input type=\"text\" id=\"curpCy\" class='mayusculas'></th>";
    htmlCode += " <td class='bggris-l4' colspan='2' scope=\"row\">Identificaci&oacute;n y n&uacute;mero</td>";
    htmlCode += " <th class='bggris-l6' colspan='2' scope=\"row\"><input type=\"text\" id=\"identificacionNumCy\" class='mayusculas'></th>";
    htmlCode += " <td class='bggris-l4' colspan='4' scope=\"row\">N&uacute;mero de IMSS o ISSSTE</td>";
    htmlCode += " <td class='bggris-l6'><input type=\"text\" id=\"imssCy\" class='mayusculas'></td>";
    htmlCode += " </tr>";

    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' colspan='2' scope=\"row\">Participa en el cr&eacute;dito</td>";
    htmlCode += " <th class='bggris-l6'><div class='radio hgt50 w50 flLeft font0_25'><label class='font0_25'><input value='SI' type='radio' class='center' id=\"participaCy\" name=\"participaCy\" onclick='validaParticipaCredito(this)'>SI</label></div></th>";
    htmlCode += " <th class='bggris-l6'><div class='radio hgt50 w50 flLeft font0_25'><label class='font0_25'><input value='NO' type='radio' class='center' id=\"participaCy\" name=\"participaCy\" onclick='validaParticipaCredito(this)'>NO</label></div></th>";
    htmlCode += " <td class='bggris-l4'>RFC / Homoclave</td>";
    htmlCode += " <th class='bggris-l6'><input type=\"text\" id=\"rfcCy\" class='mayusculas'></th>";

    htmlCode += " <td class='bggris-l4' colspan='2' scope=\"row\">Nacionalidad</td>";
    htmlCode += " <th class='bggris-l6' colspan='2' scope=\"row\"><input type=\"text\" id=\"nacionalidadCy\" class='mayusculas'></th>";
    htmlCode += " <td class='bggris-l4' colspan='2' scope=\"row\">Actividad</td>";
    htmlCode += " <td class='bggris-l6'><input type=\"text\" id=\"actividadCy\" class='mayusculas'></td>";
    htmlCode += " </tr>";

    htmlCode += " </tbody>";
    htmlCode += "</table>";

    htmlCode += "</div>";// Div pestaña

    htmlCode += "<div id='divContenedor2' class='divSeccion white'> Datos del cr&eacute;dito</div>";
    htmlCode += "<div id='divDatos2' style='display: block; float:left; width: 100%; border: 0.1rem solid #eaeaea;'>";

    htmlCode += "<table class=\"table table-condensed\">";
    htmlCode += " <tbody>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4'>Producto solicitado</td>";
    htmlCode += " <th class='bggris-l6'><input type=\"text\" id=\"productoSolicitado\" value='"+escenarioActualData.productoSolicitado+"' disabled></th>";
    htmlCode += " <td class='bggris-l4'>Programa</td>";
    htmlCode += " <th class='bggris-l6'><input type=\"text\" id=\"programa\" value=\"HIPOTECARIO\" disabled></th>";
    htmlCode += " <td class='bggris-l4'>Destino</td>";
    htmlCode += " <td class='bggris-l6'><input type=\"text\" id=\"destino\" value='"+escenarioActualData.destino+"' disabled></td>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4'>Importe cr&eacute;dito solicitado</td>";
    htmlCode += " <th class='bggris-l6'><input type=\"text\" id=\"importeCredSolicitado\" value='"+formatValueWithMoney(escenarioActualData.importe)+"' disabled></th>";
    htmlCode += " <td class='bggris-l4'>Valor estimado del inmueble</td>";
    htmlCode += " <th class='bggris-l6'><input type=\"text\" id=\"valorEstimadoInmueble\" onKeyUp=\"validateDouble(event);\" onPress=\"validateDouble(event);\" onBlur=\"formatMoney('valorEstimadoInmueble')\"; required></th>";
    htmlCode += " <td class='bggris-l4'>Plazo (a&ntilde;os)</td>";
    htmlCode += " <th class='bggris-l6'><input type=\"text\" id=\"plazoAnios\" value='"+escenarioActualData.plazoAnios+"' disabled></th>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4'>Tasa de interes(%)</td>";
    htmlCode += " <th class='bggris-l6'><input type=\"text\" id=\"tasaInteres\" value='8.2' disabled></th>";
    htmlCode += " </tr>";
    htmlCode += " </tbody>";
    htmlCode += "</table>";

    htmlCode += "</div>";// Div pestaña

    htmlCode += "<div id='divContenedor3' class='divSeccion white'>Informaci&oacute;n econ&oacute;mica / Total de ingresos</div>";
    htmlCode += "<div id='divDatos3' style='display: block; float:left; width: 100%; border: 0.1rem solid #eaeaea;'>";

    htmlCode += "<table class=\"table table-condensed\">";
    htmlCode += " <tbody>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' colspan='4' scope=\"row\">Ingreso bruto mensual</td>";
    htmlCode += " <th class='bggris-l6' colspan='3' scope=\"row\"><input type=\"text\" id=\"ingresoBrutoMensual\" value='"+formatValueWithMoney(escenarioActualData.montoSueldo)+"' disabled></th>";
    htmlCode += " <td class='bggris-l4' colspan='4' scope=\"row\">Otros ingresos</td>";
    htmlCode += " <th class='bggris-l6' colspan='3' scope=\"row\"><input type=\"text\" id=\"otrosOngresos\" onKeyUp=\"validateDouble(event);\" onPress=\"validateDouble(event);\" onBlur=\"validaOtrosIngresos()\" value='0.00'></th>";
    htmlCode += " <td class='bggris-l4' colspan='4' scope=\"row\">Fuente de otros ingresos</td>";
    htmlCode += " <td class='bggris-l6' colspan='3'><input type=\"text\" id=\"fuenteOtrosIngresos\" class='mayusculas'></td>";
    htmlCode += " <td class='bggris-l4' colspan='4' scope=\"row\">Total de ingresos</td>";
    htmlCode += " <td class='bggris-l6' colspan='3'><input type=\"text\" id=\"totalInglesos\" value='"+formatValueWithMoney(escenarioActualData.montoSueldo)+"'  disabled></td>";
    // htmlCode += " <td class='bggris-l6' colspan='3'><input type=\"text\" id=\"totalInglesos\" value='"+formatValueWithMoney('123434')+"' disabled></td>";
    htmlCode += " </tr>";
    htmlCode += " </tbody>";
    htmlCode += "</table>";
    htmlCode += "</div>";// Div pestaña


    htmlCode += "<div id='divContenedor4' class='divSeccion white'>Empleo actual y actividad econ&oacute;mica del solicitante (fuente de ingresos de mayor aportaci&oacute;n)</div>";
    htmlCode += "<div id='divDatos4' style='display: block; float:left; width: 100%; border: 0.1rem solid #eaeaea;'>";

    htmlCode += "<table class=\"table table-condensed\">";
    htmlCode += " <tbody>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' colspan='1' scope=\"row\">Compa&ntilde;ia o empresa</td>";
    htmlCode += " <th class='bggris-l6' colspan='1' scope=\"row\"><input type=\"text\" id=\"companiaEmpresa\" value='"+escenarioActualData.companiaEmpresa+"'></th>";
    htmlCode += " <td class='bggris-l4' colspan='1' scope=\"row\">Puesto o actividad</td>";
    htmlCode += " <th class='bggris-l6' colspan='1' scope=\"row\"><input type=\"text\" id=\"puestoActividad\" class='mayusculas' required></th>";
    htmlCode += " <td class='bggris-l4' colspan='1' scope=\"row\">Profesi&oacute;n</td>";
    htmlCode += " <th class='bggris-l6' colspan='1' scope=\"row\"><input type=\"text\" id=\"profesion\" class='mayusculas' required></th>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";

    //Agregar un Combo al Sector
    htmlCode += " <td class='bggris-l4' colspan='1' scope=\"row\">Sector</td>";
    htmlCode += " <th class='bggris-l6' colspan='1' scope=\"row\"><input type=\"text\" id=\"sector\" value=\"PRIVADO\" disabled></th>";
    htmlCode += " <td class='bggris-l4' colspan='1' scope=\"row\">Ingreso mensual $</td>";
    htmlCode += " <th class='bggris-l6' colspan='1' scope=\"row\"><input type=\"text\" id=\"ingresoMensual\" value='"+formatValueWithMoney(escenarioActualData.montoSueldo)+"' disabled></th>";
    htmlCode += " <td class='bggris-l4' colspan='1' scope=\"row\">Comprueba ingresos con</td>";
    htmlCode += " <th class='bggris-l6' colspan='1' scope=\"row\"><input type=\"text\" id=\"compruebaIngresosCon\" value='RECIBOS DE N&Oacute;MINA' disabled></th>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' colspan='1' scope=\"row\">Giro o actividad</td>";
    htmlCode += " <th class='bggris-l6' colspan='1' scope=\"row\"><input type=\"text\" id=\"giroActividad\" value=\"SERVS. FINANCIEROS\"></th>";
    htmlCode += " <td class='bggris-l4' colspan='1' scope=\"row\">Retiene impuestos</td>";
    htmlCode += " <th class='bggris-l6' colspan='1' scope=\"row\"><input type=\"text\" id=\"retieneImpuestos\" value=\"SI\" disabled></th>";
    htmlCode += " <td class='bggris-l4' colspan='1' scope=\"row\">Tipo de contrato</td>";
    htmlCode += " <th class='bggris-l6' colspan='1' scope=\"row\"><input type=\"text\" id=\"tipoContrato\" value=\"FIJO\" disabled></th>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' colspan='1' scope=\"row\">Antiguedad del empleo actual</td>";// SIP2000
    htmlCode += " <th class='bggris-l6' colspan='1' scope=\"row\">" +
                            "<div class=\"col-xs-2\"><label for=\"ex1\" class='font0_5 center'>A&ntilde;os</label><input type=\"text\" id=\"antEmpActualA\" class='mayusculas form-control' value='"+escenarioActualData.aniosAnt+"' disabled></div>"+
                        "</th>";
    htmlCode += " <th class='bggris-l6' colspan='1' scope=\"row\">" +
        "<div class=\"col-xs-2\"><label for=\"ex1\" class='font0_5 center'>Meses</label><input type=\"text\" id=\"antEmpActualM\" class='mayusculas form-control' value='"+escenarioActualData.mesesAnt+"' disabled></div>"+
        "</th>";
    htmlCode += " <td class='bggris-l4' colspan='1' scope=\"row\">Antiguedad del empleo anterior</td>";
    htmlCode += " <th class='bggris-l6' colspan='1' scope=\"row\">" +
        "<div class=\"col-xs-2\"><label for=\"ex1\" class='font0_5 center'>A&ntilde;os</label><input type=\"text\" id=\"antEmpAnteriorA\" class='mayusculas form-control' value=\"\" maxlength='2' pattern=\"[0-9]+\"></div>"+
        "</th>";
    htmlCode += " <th class='bggris-l6' colspan='1' scope=\"row\">" +
        "<div class=\"col-xs-2\"><label for=\"ex1\" class='font0_5 center'>Meses</label><input type=\"text\" id=\"antEmpAnteriorM\" class='mayusculas form-control' value=\"\" maxlength='2' pattern=\"[0-9]+\"></div>"+
        "</th>";
    // htmlCode += " <th class='bggris-l6' colspan='1' scope=\"row\"><input type=\"text\" id=\"antEmpAnterior\" class='mayusculas' placeholder=\"A&Ntilde;OS, MESES\"></th>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' colspan='1' scope=\"row\">Tel&eacute;fonos</td>";
    htmlCode += " <th class='bggris-l6' colspan='1' scope=\"row\"><input type=\"text\" id=\"telEmpleoAnt\"  maxlength='10' pattern=\"[0-9]+\"></th>";
    htmlCode += " <td class='bggris-l4' colspan='4' scope=\"row\">Domicilio(calle, n&uacute;m. exterior e interior, colonia o fraccionamiento, c.p, delegaci&oacute;n, ciudad y estado) </td>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    // htmlCode += " <td class='bggris-l4' colspan='2' scope=\"row\">Domicilio(calle, n&uacute;m. exterior e interior, colonia o fraccionamiento, c.p, delegaci&oacute;n, ciudad y estado) </td>";
    htmlCode += " <th class='bggris-l6' colspan='6' scope=\"row\"><input type=\"text\" id=\"domicilioEmpresa\" class='mayusculas' required></th>";
    htmlCode += " </tr>";
    htmlCode += " </tbody>";
    htmlCode += "</table>";

    htmlCode += "</div>";// Div pestaña

    htmlCode += "<div id='divContenedor5' class='divSeccion white'>Empleos actuales y actividades econ&oacute;micas del solicitante (2da y 3ra fuente de ingreso)</div>";
    htmlCode += "<div id='divDatos5' style='display: block; float:left; width: 100%; border: 0.1rem solid #eaeaea;'>";

    htmlCode += "<table class=\"table table-condensed\">";
    htmlCode += " <tbody>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' colspan='4' scope=\"row\">Compa&ntilde;ia o empresa(2da fuente de ingresos)</td>";
    htmlCode += " <th class='bggris-l6' colspan='2' scope=\"row\"><input type=\"text\" id=\"companiaEmpresa2da\" maxlength='50' class='mayusculas'></th>";
    htmlCode += " <td class='bggris-l4' colspan='3' scope=\"row\">Puesto o actividad</td>";
    htmlCode += " <th class='bggris-l6' colspan='2' scope=\"row\"><input type=\"text\" id=\"puestoActividad2da\" maxlength='50' class='mayusculas'></th>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' colspan='3' scope=\"row\">Antiguedad</td>";
    htmlCode += " <th class='bggris-l6' colspan='1' scope=\"row\">" +
        "<div class=\"col-xs-2\"><label for=\"ex1\" class='font0_5 center'>A&ntilde;os</label><input type=\"text\" id=\"antiguedad2daA\" class='mayusculas form-control' maxlength='2' pattern=\"[0-9]+\"></div>"+
        "</th>";
    htmlCode += " <th class='bggris-l6' colspan='1' scope=\"row\">" +
        "<div class=\"col-xs-2\"><label for=\"ex1\" class='font0_5 center'>Meses</label><input type=\"text\" id=\"antiguedad2daM\" class='mayusculas form-control' maxlength='2' pattern=\"[0-9]+\"></div>"+
        "</th>";
    htmlCode += " <td class='bggris-l4' colspan='1' scope=\"row\">Sector</td>";
    htmlCode += " <th class='bggris-l6' colspan='2' scope=\"row\"><input type=\"text\" id=\"sector2da\" class='mayusculas' maxlength='20'></th>";
    htmlCode += " <td class='bggris-l4' colspan='2' scope=\"row\">Ingreso mensual $</td>";
    htmlCode += " <th class='bggris-l6' colspan='1' scope=\"row\"><input type=\"text\" id=\"impuestoMensual2da\" onKeyUp=\"validateDouble(event);\" onPress=\"validateDouble(event);\" onBlur=\"formatMoney('impuestoMensual2da')\"; value='0.00' maxlength='12'></th>";
    htmlCode += " </tr>";

    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' colspan='2' scope=\"row\">Comprueba ingresos con</td>";
    htmlCode += " <th class='bggris-l6' colspan='2' scope=\"row\"><input type=\"text\" id=\"compruebaIngresosCon2da\" class='mayusculas' maxlength='30'></th>";

    htmlCode += " <td class='bggris-l4' colspan='1' scope=\"row\">Giro o actividad</td>";
    htmlCode += " <th class='bggris-l6' colspan='2' scope=\"row\"><input type=\"text\" id=\"giroActividad2a\" class='mayusculas' maxlength='30'></th>";

    htmlCode += " <td class='bggris-l4' COLSPAN='2' scope=\"row\">Retiene impuestos</td>";
    htmlCode += " <td class='bggris-l6' COLSPAN='2'><select id=\"retieneImpuestos2da\">";
    htmlCode += " <option value=\"\">SELECCIONE...</option>";
    htmlCode += " <option value=\"SI\">SI</option>";
    htmlCode += " <option value=\"NO\">NO</option>";
    htmlCode += " </select>";
    htmlCode += " </td>";
    htmlCode += " </tr>";

    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' colspan='1' scope=\"row\">Tel&eacute;fono</td>";
    htmlCode += " <th class='bggris-l6' colspan='2' scope=\"row\"><input type=\"text\" id=\"telefono2da\" maxlength='10' pattern=\"[0-9]+\"></th>";
    htmlCode += " <td class='bggris-l4' colspan='8' scope=\"row\">Domicilio(calle, n&uacute;m. exterior e interior, colonia o fraccionamiento, c.p, delegaci&oacute;n, ciudad y estado) </td>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l6' colspan='11' scope=\"row\"><input type=\"text\" id=\"domicilioEmpresa2da\" class='mayusculas' maxlength='100'></td>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td colspan='11' scope=\"row\">";
    htmlCode += " </tr>";


    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' colspan='4' scope=\"row\">Compa&ntilde;ia o empresa(3ra fuente de ingresos)</td>";
    htmlCode += " <th class='bggris-l6' colspan='2' scope=\"row\"><input type=\"text\" id=\"companiaEmpresa3ra\" maxlength='50' class='mayusculas'></th>";
    htmlCode += " <td class='bggris-l4' colspan='3' scope=\"row\">Puesto o actividad</td>";
    htmlCode += " <th class='bggris-l6' colspan='2' scope=\"row\"><input type=\"text\" id=\"puestoActividad3ra\" maxlength='50' class='mayusculas'></th>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' colspan='3' scope=\"row\">Antiguedad</td>";
    htmlCode += " <th class='bggris-l6' colspan='1' scope=\"row\">" +
        "<div class=\"col-xs-2\"><label for=\"ex1\" class='font0_5 center'>A&ntilde;os</label><input type=\"text\" id=\"antiguedad3raA\" class='mayusculas form-control' maxlength='2' pattern=\"[0-9]+\"></div>"+
        "</th>";
    htmlCode += " <th class='bggris-l6' colspan='1' scope=\"row\">" +
        "<div class=\"col-xs-2\"><label for=\"ex1\" class='font0_5 center'>Meses</label><input type=\"text\" id=\"antiguedad3raM\" class='mayusculas form-control' maxlength='2' pattern=\"[0-9]+\"></div>"+
        "</th>";
    htmlCode += " <td class='bggris-l4' colspan='1' scope=\"row\">Sector</td>";
    htmlCode += " <th class='bggris-l6' colspan='2' scope=\"row\"><input type=\"text\" id=\"sector3ra\" class='mayusculas' maxlength='20'></th>";
    htmlCode += " <td class='bggris-l4' colspan='2' scope=\"row\">Ingreso mensual $</td>";
    // htmlCode += " <th class='bggris-l6' colspan='1' scope=\"row\"><input type=\"text\" id=\"impuestoMensual3ra\" onKeyUp=\"validateDouble(event);\" onPress=\"validateDouble(event);\" onBlur=\"formatMoney('impuestoMensual3da')\"; value='0.00' maxlength='12'></th>";
    htmlCode += " <th class='bggris-l6' colspan='1' scope=\"row\"><input type=\"text\" id=\"impuestoMensual3ra\" onKeyUp=\"validateDouble(event);\" onPress=\"validateDouble(event);\" onBlur=\"formatMoney('impuestoMensual3ra')\"; value='0.00' maxlength='12'></th>";
    htmlCode += " </tr>";

    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' colspan='2' scope=\"row\">Comprueba ingresos con</td>";
    htmlCode += " <th class='bggris-l6' colspan='2' scope=\"row\"><input type=\"text\" id=\"compruebaIngresosCon3ra\" class='mayusculas' maxlength='30'></th>";

    htmlCode += " <td class='bggris-l4' colspan='1' scope=\"row\">Giro o actividad</td>";
    htmlCode += " <th class='bggris-l6' colspan='2' scope=\"row\"><input type=\"text\" id=\"giroActividad3ra\" class='mayusculas' maxlength='30'></th>";

    htmlCode += " <td class='bggris-l4' COLSPAN='2' scope=\"row\">Retiene impuestos</td>";
    htmlCode += " <td class='bggris-l6' COLSPAN='2'><select id=\"retieneImpuestos3ra\">";
    htmlCode += " <option value=\"\">SELECCIONE...</option>";
    htmlCode += " <option value=\"SI\">SI</option>";
    htmlCode += " <option value=\"NO\">NO</option>";
    htmlCode += " </select>";
    htmlCode += " </td>";
    htmlCode += " </tr>";

    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' colspan='1' scope=\"row\">Tel&eacute;fono</td>";
    htmlCode += " <th class='bggris-l6' colspan='2' scope=\"row\"><input type=\"text\" id=\"telefono3ra\" maxlength='10' pattern=\"[0-9]+\"></th>";
    htmlCode += " <td class='bggris-l4' colspan='8' scope=\"row\">Domicilio(calle, n&uacute;m. exterior e interior, colonia o fraccionamiento, c.p, delegaci&oacute;n, ciudad y estado) </td>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l6' colspan='11' scope=\"row\"><input type=\"text\" id=\"domicilioEmpresa3ra\" class='mayusculas' maxlength='100'></td>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td colspan='11' scope=\"row\">";
    htmlCode += " </tr>";




    htmlCode += " </tbody>";
    htmlCode += "</table>";

    htmlCode += "</div>";// Div pestaña

    htmlCode += "<div id='divContenedor6' class='divSeccion white'>Otros pr&eacute;stamos personales o comerciales</div>";
    htmlCode += "<div id='divDatos6' style='display: block; float:left; width: 100%; border: 0.1rem solid #eaeaea;'>";

    htmlCode += "<table class=\"table table-condensed\">";
    htmlCode += " <tbody>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bgblue-2 white' scope=\"row\">Instituci&oacute;n</td>";
    htmlCode += " <td class='bgblue-2 white' scope=\"row\">Tipo de cr&eacute;dito</td>";
    htmlCode += " <td class='bgblue-2 white' scope=\"row\">N&uacute;mero de cuenta</td>";
    htmlCode += " <td class='bgblue-2 white' scope=\"row\">Fecha de apertura</td>";
    htmlCode += " <td class='bgblue-2 white' scope=\"row\">Limite de cr&eacute;dito</td>";
    htmlCode += " <td class='bgblue-2 white' scope=\"row\">Saldo actual</td>";
    htmlCode += " <td class='bgblue-2 white' scope=\"row\">Pago mensual</td>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l6' scope=\"row\"><input type=\"text\" id=\"institucion1\"class='mayusculas' maxlength='40'></td>";
    htmlCode += " <td class='bggris-l6' scope=\"row\"><input type=\"text\" id=\"tipoCredito1\" class='mayusculas' maxlength='40'></td>";
    htmlCode += " <td class='bggris-l6' scope=\"row\"><input type=\"text\" id=\"numeroCuentas1\" class='mayusculas' maxlength='40'></td>";
    htmlCode += " <td class='bggris-l6' scope=\"row\"><input type=\"text\" id=\"fechaApertura1\" placeholder=\"dd/mm/aaaa\"  pattern=\"(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}\"></td>";
    htmlCode += " <td class='bggris-l6' scope=\"row\"><input type=\"text\" id=\"limiteCredito1\" onKeyUp=\"validateDouble(event);\" onPress=\"validateDouble(event);\" onBlur=\"formatMoney('limiteCredito1');\" value='0.00' maxlength='12' placeholder=\"$\"></td>";
    htmlCode += " <td class='bggris-l6' scope=\"row\"><input type=\"text\" id=\"saldoActual1\" onKeyUp=\"validateDouble(event);\" onPress=\"validateDouble(event);\" onBlur=\"formatMoney('saldoActual1');\" value='0.00' maxlength='12' placeholder=\"$\"></td>";
    htmlCode += " <td class='bggris-l6' scope=\"row\"><input type=\"text\" id=\"pagoMensual1\" onKeyUp=\"validateDouble(event);\" onPress=\"validateDouble(event);\" onBlur=\"formatMoney('pagoMensual1');\" value='0.00' maxlength='12' placeholder=\"$\"></td>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l6' scope=\"row\"><input type=\"text\" id=\"institucion2\" class='mayusculas' maxlength='40'></td>";
    htmlCode += " <td class='bggris-l6' scope=\"row\"><input type=\"text\" id=\"tipoCredito2\" class='mayusculas' maxlength='40'></td>";
    htmlCode += " <td class='bggris-l6' scope=\"row\"><input type=\"text\" id=\"numeroCuentas2\" maxlength='40'></td>";
    htmlCode += " <td class='bggris-l6' scope=\"row\"><input type=\"text\" id=\"fechaApertura2\" placeholder=\"dd/mm/aaaa\"  pattern=\"(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}\"></td>";
    htmlCode += " <td class='bggris-l6' scope=\"row\"><input type=\"text\" id=\"limiteCredito2\" onKeyUp=\"validateDouble(event);\" onPress=\"validateDouble(event);\" onBlur=\"formatMoney('limiteCredito2');\" value='0.00' maxlength='12' placeholder=\"$\"></td>";
    htmlCode += " <td class='bggris-l6' scope=\"row\"><input type=\"text\" id=\"saldoActual2\" onKeyUp=\"validateDouble(event);\" onPress=\"validateDouble(event);\" onBlur=\"formatMoney('saldoActual2');\" value='0.00' maxlength='12' placeholder=\"$\"></td>";
    htmlCode += " <td class='bggris-l6' scope=\"row\"><input type=\"text\" id=\"pagoMensual2\" onKeyUp=\"validateDouble(event);\" onPress=\"validateDouble(event);\" onBlur=\"formatMoney('pagoMensual2');\" value='0.00' maxlength='12' placeholder=\"$\"></td>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l6' scope=\"row\"><input type=\"text\" id=\"institucion3\"  class='mayusculas' maxlength='40'></td>";
    htmlCode += " <td class='bggris-l6' scope=\"row\"><input type=\"text\" id=\"tipoCredito3\" class='mayusculas' maxlength='40'></td>";
    htmlCode += " <td class='bggris-l6' scope=\"row\"><input type=\"text\" id=\"numeroCuentas3\" class='mayusculas' maxlength='40'></td>";
    htmlCode += " <td class='bggris-l6' scope=\"row\"><input type=\"text\" id=\"fechaApertura3\" placeholder=\"dd/mm/aaaa\"  pattern=\"(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}\"></td>";
    htmlCode += " <td class='bggris-l6' scope=\"row\"><input type=\"text\" id=\"limiteCredito3\" onKeyUp=\"validateDouble(event);\" onPress=\"validateDouble(event);\" onBlur=\"formatMoney('limiteCredito3');\" value='0.00' maxlength='12' placeholder=\"$\"></td>";
    htmlCode += " <td class='bggris-l6' scope=\"row\"><input type=\"text\" id=\"saldoActual3\" onKeyUp=\"validateDouble(event);\" onPress=\"validateDouble(event);\" onBlur=\"formatMoney('saldoActual3');\" value='0.00' maxlength='12' placeholder=\"$\"></td>";
    htmlCode += " <td class='bggris-l6' scope=\"row\"><input type=\"text\" id=\"pagoMensual3\" onKeyUp=\"validateDouble(event);\" onPress=\"validateDouble(event);\" onBlur=\"formatMoney('pagoMensual3');\" value='0.00' maxlength='12' placeholder=\"$\"></td>";
    htmlCode += " </tr>";
    htmlCode += " </tbody>";
    htmlCode += "</table>";
    htmlCode += "</div>";// Div pestaña

    htmlCode += "<div id='divContenedor7' class='divSeccion white'>Referencias personales</div>";
    htmlCode += "<div id='divDatos7' style='display: block; float:left; width: 100%; border: 0.1rem solid #eaeaea;'>";

    htmlCode += "<table class=\"table table-condensed\">";
    htmlCode += " <tbody>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bgblue-2 white w30' scope=\"row\">Nombre(s) y apellidos</td>";
    htmlCode += " <td class='bgblue-2 white w60' scope=\"row\">Domicilio(calle, n&uacute;m. exterior e interior, colonia o fraccionamiento, c.p, delegaci&oacute;n, ciudad y estado) </td>";
    htmlCode += " <td class='bgblue-2 white w10' scope=\"row\">Tel&eacute;fono</td>";
    htmlCode += " </tr>";

    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l6 w30' scope=\"row\"><input type=\"text\" id=\"nomApeRef1\" class='mayusculas' required maxlength='60'></td>";
    htmlCode += " <td class='bggris-l6 w60' scope=\"row\"><input type=\"text\" id=\"domRef1\" class='mayusculas' required maxlength='80'></td>";
    htmlCode += " <td class='bggris-l6 w10' scope=\"row\"><input type=\"text\" id=\"telRef1\" maxlength='10' pattern=\"[0-9]+\" required></td>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l6 w30' scope=\"row\"><input type=\"text\" id=\"nomApeRef2\" class='mayusculas' required maxlength='60'></td>";
    htmlCode += " <td class='bggris-l6 w60' scope=\"row\"><input type=\"text\" id=\"domRef2\" class='mayusculas' required maxlength='60'></td>";
    htmlCode += " <td class='bggris-l6 w10' scope=\"row\"><input type=\"text\" id=\"telRef2\" maxlength='10' pattern=\"[0-9]+\" required></td>";
    htmlCode += " </tr>";
    htmlCode += " </tbody>";
    htmlCode += " </table>";

    htmlCode += "</div>";// Div pestaña

    htmlCode += "<div id='divContenedor8' class='divSeccion white'>Datos del inmueble en garantia y datos del vendedor</div>";
    htmlCode += "<div id='divDatos8' style='display: block; float:left; width: 100%; border: 0.1rem solid #eaeaea;'>";

    htmlCode += "<table class=\"table table-condensed\">";
    htmlCode += " <tbody>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4 w15' colspan=\"2\">Valor estimado de la propiedad</td>";
    htmlCode += " <td class='bggris-l6 w35'colspan=\"2\" ><input type=\"text\" id=\"valorEstimadoPropiedad\" onKeyUp=\"validateDouble(event);\" onPress=\"validateDouble(event);\" onBlur=\"formatMoney('valorEstimadoPropiedad');\" value='0.00' required></td>";
    htmlCode += " <td class='bggris-l4 w15' colspan=\"2\">Uso del inmueble</td>";
    htmlCode += " <td class='bggris-l6 w35' colspan=\"2\"><input type=\"text\" id=\"usoInmueble\" class='mayusculas' required maxlength='30'></td>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4 w15' colspan=\"2\">Municipio</td>";
    htmlCode += " <td class='bggris-l6 w35' colspan=\"2\"><input type=\"text\" id=\"municipioPropiedad\" class='mayusculas' required maxlength='30'></td>";
    htmlCode += " <td class='bggris-l4 w15' colspan=\"2\">Estado</td>";
    htmlCode += " <td class='bggris-l6 w35' colspan=\"2\"><input type=\"text\" id=\"estadoPropiedad\" class='mayusculas' required maxlength='30'></td>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4 w10'>Tipo de inmueble</td>";
    htmlCode += " <td class='bggris-l6 w15'><input type=\"text\" id=\"tipoInmueble\" class='mayusculas' required maxlength='30'></td>";
    htmlCode += " <td class='bggris-l4 w10'>Superficie terreno</td>";
    htmlCode += " <td class='bggris-l6 w15'><input type=\"text\" id=\"superficieTerreno\" maxlength='7' pattern=\"[0-9]+\" required placeholder=\"m2\"></td>";
    htmlCode += " <td class='bggris-l4 w10'>Construcci&oacute;n</td>";
    htmlCode += " <td class='bggris-l6 w15'><input type=\"text\" id=\"construccionTerreno\" maxlength='7' pattern=\"[0-9]+\" required placeholder=\"m2\" placeholder=\"m2\"></td>";
    htmlCode += " <td class='bggris-l4 w10'>Porcentaje de financiamiento</td>";
    htmlCode += " <td class='bggris-l6 w15'><input type=\"text\" id=\"porcentajeFinanciamiento\" maxlength='3' pattern=\"[0-9]+\" placeholder=\"%\" required></td>";
    htmlCode += " </tr>";

    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4 w15' colspan='2'>Nombre</td>";
    htmlCode += " <td class='bggris-l6 w35' colspan='2'><input type=\"text\" id=\"nombreVendedor\" class='mayusculas' maxlength='50' required></td>";
    htmlCode += " <td class='bggris-l4 w15' colspan='2'>Tel&eacute;fono</td>";
    htmlCode += " <td class='bggris-l6 w35' colspan='2'><input type=\"text\" id=\"telefonoVendedor\" maxlength='10' pattern=\"[0-9]+\" required></td>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4' colspan='2'>Domicilio</td>";
    htmlCode += " <td class='bggris-l6' colspan='6'><input type=\"text\" id=\"domicilioVendedor\" class='mayusculas' maxlength='80' required></td>";
    htmlCode += " </tr>";

    htmlCode += " </tbody>";
    htmlCode += "</table>";
    htmlCode += "</div>";// Div pestaña

    htmlCode += "<div id='divContenedor9' class='divSeccion white'>Sujeto de cr&eacute;dito y del inmueble</div>";
    htmlCode += "<div id='divDatos9' style='display: block; float:left; width: 100%; border: 0.1rem solid #eaeaea;'>";

    htmlCode += "<table class=\"table table-condensed\">";
    htmlCode += " <tbody>";
    htmlCode += " <tr>";
    htmlCode += " <th class='bggris-l4 w25' scope=\"row\">Sujeto de cr&eacute;dito</th>";
    htmlCode += " <td class='bggris-l4 w25'></td>";
    htmlCode += " <td class='bggris-l4  w50'>Del inmueble</td>";
    htmlCode += " </tr>";

    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4  w25'>Identificaci&oacute;n oficial:</td>";
    htmlCode += " <td class='bggris-l6  w25'><input type=\"text\" id=\"identificacionSujeto\" class='mayusculas' maxlength='50' required></td>";
    htmlCode += " <td class='bggris-l6  w50' rowspan='4'>" +
        "<div class=\"checkbox\"><label class='font0_5'><input type=\"checkbox\" id=\"tituloPropiedadInmueble\" value='' onchange='tituloPropiedadInmuebleCheck();'>Titulos de propiedad</label></div> " +
        "<div class=\"checkbox\"><label class='font0_5'><input type=\"checkbox\" id=\"boletasPredialInmueble\" value='' onchange='boletasPredialInmuebleCheck();'>Boletas de predial</label></div> " +
        "<div class=\"checkbox\"><label class='font0_5'><input type=\"checkbox\" id=\"planesArqInmueble\" value='' onchange='planesArqInmuebleCheck();'>Planos arquitectonicos </label></div>" +
        "<div class=\"checkbox\"><label class='font0_5'><input type=\"checkbox\" id=\"fotografiasInmueble\" value='' onchange='fotografiasInmuebleCheck();'>Fotograf&iacute;as del inmueble </label></div> " +
        "<div class=\"checkbox\"><label class='font0_5'><input type=\"checkbox\" id=\"condominioInmueble\" value='' onchange='condominioInmuebleCheck();'>En caso de ser casa o departamento en condominio, r&eacute;gimen de propiedad en condominio con tabla de individuos. </label></div> " +
        "<div class=\"checkbox\"><label class='font0_5'><input type=\"checkbox\" id=\"terrenoInmueble\" value='' onchange='terrenoInmuebleCheck();'>Si el t&iacute;tulo de propiedad s&oacute;lo menciona terreno, presentar licencia de contrucci&oacute;n, aviso de terminaci&oacute;n de obra, alineamiento y n&uacute;mero oficial.</label></div></td>";
    htmlCode += " </tr>";

    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4 w25'>Comprobantes de ingresos:</td>";
    htmlCode += " <td class='bggris-l6 w50'><input type=\"text\" id=\"comprobantesIngresosSujeto\" class='mayusculas' required maxlength='50'></td>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l4 w25'>Comprobantes de domicilio</td>";
    // htmlCode += " <td class='bggris-l6 w50'><input type=\"text\" id=\"comprobantDomicilioSujeto\" required maxlength='50'></td>";
    htmlCode += " <td class='bggris-l6'><select id=\"comprobantDomicilioSujeto\" required>";
    htmlCode += " <option value=\"\">SELECCIONE...</option>";
    htmlCode += " <option value=\"RECIBO DE LUZ\">RECIBO DE LUZ</option>";
    htmlCode += " <option value=\"RECIBO DE GAS\">RECIBO DE GAS</option>";
    htmlCode += " <option value=\"RECIBO DE TELEFONO\">RECIBO DE TEL&Eacute;FONO</option>";
    htmlCode += " <option value=\"RECIBO DE AGUA\">RECIBO DE AGUA</option>";
    htmlCode += " <option value=\"RECIBO DE PREDIAL\">RECIBO DE PREDIAL</option>";
    htmlCode += " </select>";
    htmlCode += " </td>";
    htmlCode += " </tr>";


    htmlCode += " <tr>";
    htmlCode += " <td class='bggris-l6  w50' colspan='2'>" +
        "<div class=\"checkbox\"><label class='font0_5'><input type=\"checkbox\" id=\"actaSujeto\" value='' onchange='actaSujetoCheck();'>Acta de nacimiento, matrimonio(en su caso)</label></div>" +
        "<div class=\"checkbox\"><label class='font0_5'><input type=\"checkbox\" id=\"reqInfoSujeto\" value='' onchange='reqInfoSujetoCheck();'>Requisitos informaci&oacute;n seguros(en su caso)</label></div> " +
        "<div class=\"checkbox\"><label class='font0_5'><input type=\"checkbox\" id=\"exDocsSujeto\" value='' onchange='exDocsSujetoCheck();'>Se deber&aacute;n exibir los documento condicionantes para la informaci&oacute;n de acuerdo al tipo de cr&eacute;dito hipotecario, requeridos bajo la norma actual de la \"ENTIDAD\" </label></div></td>";
    htmlCode += " </tr>";
    htmlCode += " <tr>";

    htmlCode += " <td>";
    // htmlCode += " <a href=\"#\" class=\"btn btn-primary\" onclick=\"direccionaTabCarta('');\" rel=\"tooltip\" data-placement=\"bottom\" data-original-title=\"Descargar el PDF de Carta Cr&eacute;dito Hipotecario\"><i class=\"icon-download-alt\"></i> Descargar Carta</a>";
    // htmlCode += " <input type='submit' onclick=\"direccionaTabCarta('');\" rel=\"tooltip\" data-placement=\"bottom\" data-original-title=\"Descargar el PDF de Carta Cr&eacute;dito Hipotecario\"></input>";
    // htmlCode += " <a href=\"#\" class=\"btn btn-primary\" onclick=\"descargaCartaHipotecario();\" rel=\"tooltip\" data-placement=\"bottom\" data-original-title=\"Descargar el PDF de Carta Cr&eacute;dito Hipotecario\"><i class=\"icon-download-alt\"></i> Descargar Carta</a>";
    htmlCode += "<button type=\"submit\" class=\"btn btn-primary\" rel=\"tooltip\" data-placement=\"bottom\" data-original-title=\"Descargar el PDF de Carta Cr&eacute;dito Hipotecario\">Descargar Carta</button>";
    htmlCode += " </tr>";
    htmlCode += " </tbody>";
    htmlCode += "</table>";
    htmlCode += "</div>";// Div pestaña



    htmlCode += "</form>";

